@model UserRegisterViewModel
<section class="reg-form">
    <div class="container">
        <div class="title">Place Register Your new Account</div>

        <form method="post" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="firstname form-group">
                <label asp-for="FristName"></label>
                <input asp-for="FristName" />
                <span asp-validation-for="FristName" class="error"></span>
            </div>
            <div class="lastname form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName" class="error"></span>
            </div>
            <div class="streetname form-group">
                <label asp-for="StreetName"></label>
                <input asp-for="StreetName" />
                <span asp-validation-for="StreetName" class="error"></span>
            </div>
            <div class="postalcode  form-group">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" />
                <span asp-validation-for="PostalCode" class="error"></span>
            </div>
            <div class="city form-group">
                <label asp-for="City"></label>
                <input asp-for="City" />
                <span asp-validation-for="City" class="error"></span>
            </div>
            <div class="mobile form-group">
                <label asp-for="Mobile"></label>
                <input asp-for="Mobile" />
            </div>
            <div class="company form-group">
                <label asp-for="Company"></label>
                <input asp-for="Company" />
            </div>
            <div class="email form-group">
                <label asp-for="Email"> </label>
                <input asp-for="Email" />
                <span asp-validation-for="Email" class="error"></span>
            </div>
            <div class="password form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" class="error"></span>
            </div>
            <div class="confirmpassword form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword" class="error"></span>
            </div>
            <div class="profileimage form-group">
                <label asp-for="ImageFile"> </label>
                <input asp-for="ImageFile" />
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    <label asp-for="TermsAndConditions"></label>
                    <input asp-for="TermsAndConditions">
                    <span class="checkmark"></span>
                </label>
            </div>
            <button class="btn-theme">Submit</button>
        </form>
    </div>
</section>