@import '../core/_colors.scss';
@import '../core/_fonts.scss';
@import '../core/_mixins.scss';
.admin-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 100px;

    .accounts {
        display: flex;
        margin-top: 20px;
        border: solid 5px $color-theme-2;
    }

    h1 {
        padding-top: 20px;
        color: $color-theme-1;
    }

    .profile {
        margin-top: 20px;
        border-left: 2px solid $color-theme-1;
    }

    .admins {
        padding: 20px;
        margin: 1rem 7rem;

        p {
            color: $color-dark-1;
        }
    }

    .users {
        padding: 20px;
        margin: 1rem 7rem;

        p {
            padding-left: 10px;
            color: $color-dark-1;
        }
    }
}
